{% extends "users/base.html" %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}
<h2>{{ form_title }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Name</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        <label>Description</label>
        {{ form.description }}
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'role-list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}